@use 'utils/mixins'as *;

.header {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__ham {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer;

        &__line--1,
        &__line--2,
        &__line--3 {
            height: 0.3rem;
            width: 2rem;
            background: #000;
            border-radius: 8px;
            // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        }

        &__line--1 {
            animation: top-back 0.4s ease-in-out forwards;
        }

        &__line--2 {
            transform: scale(1);
            transition: 0.4s ease-in-out;
        }

        &__line--3 {
            animation: bot-back 0.4s ease-in-out forwards;
        }

        &.act {
            .header__ham__line--1 {
                animation: top-forw 0.4s ease-in-out forwards;
            }

            .header__ham__line--2 {
                transform: scale(0);
                transition: 0.4s ease-in-out;
            }

            .header__ham__line--3 {
                animation: bot-forw 0.4s ease-in-out forwards;
            }
        }
    }
}




// Hamburger: Menu Animations
@keyframes top-forw {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.7rem);
    }

    100% {
        transform: translateY(0.7rem) rotate(45deg);
    }
}

@keyframes bot-forw {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.7rem);
    }

    100% {
        transform: translateY(-0.7rem) rotate(135deg);
    }
}

@keyframes top-back {
    0% {
        transform: translateY(0.7rem) rotate(45deg);
    }

    50% {
        transform: translateY(0.7rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bot-back {
    0% {
        transform: translateY(-0.7rem) rotate(135deg);
    }

    50% {
        transform: translateY(-0.7rem);
    }

    100% {
        transform: translateY(0);
    }
}