{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer></script>

<div class="header">
    <div class="overlay" id="overlay">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Catalog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a class="collection" href="#" id="collection">Collection</a>
                <ul class="collection--ul" id="collection--ul">
                    <li>
                        <a href="#">Special Occasion</a>
                    </li>
                    <li>
                        <a href="#">Casual</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
    </div>
    <nav class="container">
        <!-- Logo -->
        <a class="header__logo" href="#"><img src="{{ section.settings.image | image_url: width: 150 }}" alt="{{ section.settings.image }}"></a>
        <div class="header__links">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Catalog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a class="collection" href="#" id="h_collection">Collection</a>
                    <ul class="collection--ul" id="h_collection--ul">
                        <li>
                            <a href="#">Special Occasion</a>
                        </li>
                        <li>
                            <a href="#">Casual</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Search</a>
                </li>
            </ul>
        </div>

        <div class="header__icons">
            <!-- Cart Icon -->
            <a class="header__cart" href="/cart">
                {% render 'icon-shopping-bag' %}
            </a>

            <!-- Ham-Menu -->
            <div class="header__ham" id="anim">
                <div class="header__ham__line--1"></div>
                <div class="header__ham__line--2"></div>
                <div class="header__ham__line--3"></div>
            </div>
        </div>
    </nav>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ]
}
{% endschema %}