{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer></script>


<div class="header">
    <div class="overlay"></div>
    <nav class="container">
        <!-- Logo -->
        <a class="header__logo" href="#">LOGO</a>

        <!-- Ham-Menu -->
        <div class="header__ham" id="anim">
            <div class="header__ham__line--1"></div>
            <div class="header__ham__line--2"></div>
            <div class="header__ham__line--3"></div>
        </div>
    </nav>
</div>

